# ASSIGNMENT -2

# QUES 1

In [152]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [153]:
import selenium
import pandas as pd
from selenium import webdriver

In [154]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [155]:
url="https://www.naukri.com/data-analyst-data-analyst-jobs-in-banglore?k=data%20analyst%2C%20data%20analyst&l=banglore"

In [156]:
driver.get(url)

In [157]:
job_titles=[]
company_names=[]
locations_list=[]
experience_required=[]

In [158]:
for d in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_titles.append(d.text)

In [159]:
for e in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
     company_names.append(d.text)

In [160]:
for f in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]"):
    locations_list.append(f.text)

In [161]:
for g in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]"):
    experience_required.append(g.text)

In [162]:
jobs=pd.DataFrame({})
jobs["JOB TITLES"]=job_titles[0:10]
jobs["COMPANY NAMES"]=company_names[0:10]
jobs["lOCATION"]=locations_list[0:10]
jobs["EXPERIENCE"]=experience_required[0:10]
jobs

,JOB TITLES,COMPANY NAMES,lOCATION,EXPERIENCE
0,Senior Data Analyst,Data Analyst,Bangalore/Bengaluru,4-9 Yrs
1,Azure Data Analyst,Data Analyst,Bangalore/Bengaluru,6-8 Yrs
2,Data Analyst,Data Analyst,Bangalore/Bengaluru(Ulsoor),5-8 Yrs
3,Sr Manager I - Data Analyst (MINT),Data Analyst,Bangalore/Bengaluru,11-15 Yrs
4,Assistant Manager - Data Analyst,Data Analyst,Bangalore/Bengaluru,4-8 Yrs
5,Assistant Manager - Data Analyst,Data Analyst,Bangalore/Bengaluru,4-8 Yrs
6,Data Analyst - Alteryx/Python/Tableau,Data Analyst,Bangalore/Bengaluru,3-5 Yrs
7,Data Analyst,Data Analyst,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,Data Analyst,Bangalore/Bengaluru,3-6 Yrs
9,Sr Manager I Data Analyst (MINT),Data Analyst,Bangalore/Bengaluru,10-15 Yrs

In [163]:
driver.close()

# QUES 2

In [164]:
import selenium
import pandas as pd
from selenium import webdriver

In [165]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [166]:
#specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore"

In [167]:
driver.get(url)

In [168]:
job_titles=[]
company_names=[]
locations_list=[]
job_description=[]

In [169]:
for d in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_titles.append(d.text)

In [170]:
for e in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
     company_names.append(d.text)

In [171]:
for f in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]"):
    locations_list.append(f.text)

In [172]:
for g in driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']"):
    job_description.append(g.text)

In [173]:
jobs=pd.DataFrame({})
jobs["JOB TITLES"]=job_titles[0:10]
jobs["COMPANY NAMES"]=company_names[0:10]
jobs["lOCATION"]=locations_list[0:10]
jobs["DESCRIPTION"]=job_description[0:10]
jobs

,JOB TITLES,COMPANY NAMES,lOCATION,DESCRIPTION
0,Data Scientist,Data Scientist,Bangalore/Bengaluru,Flexibility in working independently and do ne...
1,Data Scientist - Machine Learning,Data Scientist,Bangalore/Bengaluru,BTech / MTech degree in from reputed institute...
2,Data Scientist - IBM Garage,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Required Technical and Professional ExpertiseP...
3,GAMMA Lead Data Scientist,Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Practice Area Profile BCG GAMMA combines innov...
4,DBCG IND - GAMMA Senior Data Scientist,Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll Do We re looking for a passionate a...
5,Data Scientist/Senior Data Scientist,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Bachelors / Masters degree in Engineering / Te...
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,Data Scientist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Logical and Analytical skills must be really s...
7,Data Scientist,Data Scientist,Bangalore/Bengaluru,In-depth understanding and modeling experience...
8,Associate Data Scientist - CRM & Loyalty,Data Scientist,Bangalore/Bengaluru,The RoleGeneral Position DefinitionThis role w...
9,Data Scientist - Business Analytics,Data Scientist,Bangalore/Bengaluru,"Experience in the areas of analytics, exposure..."

In [174]:
driver.close()

# QUES 3

In [242]:
import selenium
import pandas as pd
from selenium import webdriver

In [243]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [244]:
url="https://www.naukri.com/datascientist-jobs?k=datascientist"

In [245]:
driver.get(url)

In [246]:
filter_button=driver.find_elements_by_xpath("//p[@class='grey-text 1H20 fleft ml-8 txtLbl']/span")
for i in filter_button:
    if i.text=='Delhi/NCR':
        i.click()
        break

In [247]:
filter_button=driver.find_elements_by_xpath("//p[@class='grey-text 1H20 fleft ml-8 txtLbl']/span")
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()

In [248]:
URL="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

In [249]:
driver.get(URL)

In [250]:
job_titles=[]
company_names=[]
locations_list=[]
experience_required=[]

In [251]:
for d in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_titles.append(d.text)

In [252]:
for e in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
     company_names.append(d.text)

In [253]:
for f in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]"):
    locations_list.append(f.text)

In [254]:
for g in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]"):
    experience_required.append(g.text)

In [255]:
jobs=pd.DataFrame({})
jobs["JOB TITLES"]=job_titles[0:10]
jobs["COMPANY NAMES"]=company_names[0:10]
jobs["lOCATION"]=locations_list[0:10]
jobs["EXPERIENCE"]=experience_required[0:10]
jobs

,JOB TITLES,COMPANY NAMES,lOCATION,EXPERIENCE
0,Data Scientist - IBM Garage,Junior Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
1,Females Required- Data Scientist- Noida,Junior Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
2,Data Scientist - Python & Machine Learning,Junior Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
3,Data Scientist - Python & Machine Learning,Junior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,Junior Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-5 Yrs
5,Data Scientist - Hadoop/BigQuery,Junior Data Scientist,Noida,3-6 Yrs
6,Data Scientist - Python / Machine Learning / T...,Junior Data Scientist,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
7,Data Scientist - Python & Machine Learning,Junior Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Junior Data Scientist,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,Junior Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs

In [256]:
driver.close()

# QUES 4

In [11]:
import selenium
import pandas as pd
from selenium import webdriver

In [12]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [13]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [14]:
driver.get(url)

In [15]:
company_name=[]
days_ago=[]
rating=[]

In [21]:
for d in driver.find_elements_by_xpath("//a[@class='d-flex justify-content-between align-items-start']"):
    company_name.append(d.text)

In [16]:
#for d in driver.find_elements_by_xpath("//a[@class='css-l2wjgv e1n63ojh0 jobLink']"):
    #company_name.append(d.text)

In [17]:
#for d in driver.find_elements_by_xpath("//div[@class='css-87uc0g e1tk4kwz1']"):
    #company_name.append(d.text)

In [22]:
for e in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
     days_ago.append(e.text)

In [23]:
for f in driver.find_elements_by_xpath("//div[@class='mr-sm css-16h0h8a e1pr2f4f1']"):
    rating.append(f.text)

In [24]:
jobs=pd.DataFrame({})
jobs["COMPANY NAME"]=company_name[:1]
jobs["NO. OF DAYS AGO"]=days_ago[:1]
jobs["RATING"]=rating[:1]
jobs

   COMPANY NAME NO. OF DAYS AGO RATING
0           NaN            30d+    3.8

In [49]:
driver.close()

# QUES 5

In [200]:
import selenium
import pandas as pd
from selenium import webdriver

In [201]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [202]:
driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [203]:
company_name=[]
min_salary=[]
max_salary=[]
average_salary=[]

In [204]:
for d in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
    company_name.append(d.text)

In [205]:
for e in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']"):
    min_salary.append(e.text.split("\n")[0])
    max_salary.append(e.text.split("\n")[1])

In [206]:
for f in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong"):
    average_salary.append(f.text)

In [207]:
number=[]
for g in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
    number.append(g.text)

In [208]:
jobs=pd.DataFrame({})
jobs["Company Name"]=company_name[0:10]
jobs["Minimum Salary"]=min_salary[0:10]
jobs["Maximum Salary"]=max_salary[0:10]
jobs["Average Salary"]=average_salary[0:10]
jobs["Number of Salaries"]=number[0:10]
jobs

,Company Name,Minimum Salary,Maximum Salary,Average Salary,Number of Salaries
0,Tata Consultancy Services,₹333K,"₹1,080K","₹ 5,97,967",14 salaries
1,Accenture,₹560K,"₹2,147K","₹ 11,12,243",14 salaries
2,Delhivery,₹436K,"₹11,274K","₹ 12,12,741",14 salaries
3,IBM,₹569K,"₹2,648K","₹ 7,37,972",13 salaries
4,Ericsson-Worldwide,₹350K,"₹1,565K","₹ 7,15,984",12 salaries
5,UnitedHealth Group,"₹1,037K","₹1,500K","₹ 13,41,900",10 salaries
6,Valiance Solutions,₹487K,"₹1,421K","₹ 7,90,812",9 salaries
7,Innovaccer,₹602K,"₹1,644K","₹ 11,81,047",8 salaries
8,ZS Associates,₹196K,"₹1,755K","₹ 9,89,924",7 salaries
9,EXL Service,₹558K,"₹1,500K","₹ 11,73,127",7 salaries

In [209]:
driver.close()

# QUES 6

In [9]:
import selenium
import pandas as pd
from selenium import webdriver

In [10]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [11]:
url="https://www.flipkart.com/search?q=SUNGLASSES&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [12]:
driver.get(url)

In [13]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [14]:
for a in range(0,10):
    for b in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(b.text)
    for c in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(d.text)
    for e in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(e.text)

In [15]:
Sunglases=pd.DataFrame({})
Sunglases["BRAND"]=Brand
Sunglases["PRODUCT DESCRIPTION"]=Product_Description
Sunglases["PRICE"]=Price
Sunglases["DISCOUNT %"]=Discount
Sunglases

ValueError: Length of values (390) does not match length of index (400)

In [16]:
driver.close()

# QUES 7

In [17]:
import selenium
import pandas as pd
from selenium import webdriver

In [18]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [19]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART")

In [20]:
rating=[]
review=[]
full_review=[]

In [21]:
for a in range(0,10):
    for b in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(b.text)
    for c in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_review.append(d.text.replace('\n\n','').replace('\n',' and '))

In [22]:
iphone=pd.DataFrame({})
iphone["Rating"]=rating
iphone["Review"]=review
iphone["Full Review"]=full_review
iphone

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
97,5,Perfect product!,Value for money❤️❤️ and Its awesome mobile pho...
98,5,Wonderful,*Review after 10 months of usage* and Doesn't ...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

In [23]:
driver.close()

# QUES 8

In [231]:
import selenium
import pandas as pd
from selenium import webdriver

In [232]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [233]:
url="https://www.flipkart.com/search?q=SNEAKERS&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [234]:
driver.get(url)

In [235]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [238]:
for a in range(0,10):
    for b in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(b.text)
    for c in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(d.text)
    for e in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(e.text)

In [239]:
Sneakers=pd.DataFrame({})
Sneakers["BRAND"]=Brand
Sneakers["PRODUCT DESCRIPTION"]=Product_Description
Sneakers["PRICE"]=Price
Sneakers["DISCOUNT %"]=Discount
Sneakers

ValueError: Length of values (363) does not match length of index (440)

In [25]:
driver.close()

# QUES 10

In [26]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
driver= webdriver.Chrome(r"E:\chromedriver.exe")

In [27]:
#Creating the empty list
Title=[]
Ratings=[]
price=[]

In [28]:
driver.get('https://www.amazon.in')

In [29]:
#Locating the search bar
search_bar= driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys("laptops")
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
search_button.click()

In [30]:
#Locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [31]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [32]:
#Scraping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [33]:
#Locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException as e:
        Ratings.append("No rating")

In [34]:
print(len(Title))
print(len(price))
print(len(Ratings))

10
10
10

In [35]:
Ratings

['3.9 out of 5',
 '2.3 out of 5',
 '4.5 out of 5',
 'No rating',
 '4.1 out of 5',
 '1 out of 5',
 '3.3 out of 5',
 '4.2 out of 5',
 '3.1 out of 5',
 '3 out of 5']

In [36]:
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
print(df)

                                               Title     Price       Ratings
0  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077  3.9 out of 5
1  Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...  2,27,200  2.3 out of 5
2  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...  2,07,992  4.5 out of 5
3  (Renewed) ASUS UX581LV-H2035T ZenBook Pro Duo ...  2,69,990     No rating
4  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...  2,14,990  4.1 out of 5
5  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...  2,69,990    1 out of 5
6  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  3,42,990  3.3 out of 5
7  Dell Alienware 17 Area 51 9thGeneration Corei9...  1,99,490  4.2 out of 5
8  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,06,990  3.1 out of 5
9  Dell Alienware m15(R3) 15.6-inch UHD Gaming La...  2,24,900    3 out of 5

In [37]:
driver.close()

# QUES 9

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"E:\chromedriver.exe")

In [3]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0%2C6657.0_13105.0_6657.0%20TO%2013105.0"

In [4]:
driver.get(url)

In [5]:
Brand=[]
Product_Description=[]
Price=[]

In [6]:
for a in range(0,10):
    for b in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Brand.append(b.text)
    for c in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Product_Description.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='product-price']"):
        Price.append(d.text)

In [8]:
Shoes=pd.DataFrame({})
Shoes["BRAND"]=Brand
Shoes["PRODUCT DESCRIPTION"]=Product_Description
Shoes["PRICE"]=Price
Shoes

,BRAND,PRODUCT DESCRIPTION,PRICE
0,ALDO,Men Leather Loafers,Rs. 7799Rs. 12999(40% OFF)
1,Nike,Women Running Shoes,Rs. 7197Rs. 11995( 40 % OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 10121Rs. 13495(25% OFF)
3,Nike,Men REACT MILER Running Shoes,Rs. 8246Rs. 10995(25% OFF)
4,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
...,...,...,...
495,Geox,Women Leather Block Heels,Rs. 7492Rs. 9990(25% OFF)
496,Nike,Women AIR MAX VIVA Sneakers,Rs. 9996Rs. 12495(20% OFF)
497,Florsheim,Men Solid Leather Formal Derbys,Rs. 6995
498,Cole Haan,Women Sandals,Rs. 7499Rs. 14999(50% OFF)
499,Puma,SPEED Orbiter Running Shoes,Rs. 7149Rs. 12999(45% OFF)

In [ ]:
driver.close()